<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html lang="ru">
<head>
  	<meta charset="utf-8" />
  	<title>topparts.com.ua</title>
  	<meta name="application-name" content="Тут имя сайта" />
  	<meta http-equiv="X-UA-Compatible" content="IE=8" />
    {% bootstrap_stylesheet_tag %}
    <link rel="SHORTCUT ICON" href="/static/images/icon.ico" type="image/x-icon" />
  	<LINK href="{{STATIC_URL}}css/main.css" rel="stylesheet" type="text/css">
    {% load i18n admin_modify adminmedia %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/docs.css" />
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";</script>
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
    <script type="text/javascript" src="/admin/jsi18n/"></script>
  	<script type="text/javascript" src="/static/js/jquery.min.js"></script> 
    <script type="text/javascript" src="/static/js/jquery.form.js"></script> 
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript"> 
        $('#loginForm').ajaxForm(function(e) { 
        	if (e.user){
        		location.reload();
                e.preventDefault();
        	}
        	else{
        		$("#login_msg").text(e.msg)
        	}
    	}); 
        
        $(function(){
            $('#myCarousel').carousel({
                interval: 5000
            })
            $('#myCarousel').carousel('next')
        })
    </script>
    {% block javascript %} {% endblock %} 
    {% block css %} {% endblock %}  
</head>

<body {% block onload %}{% endblock %} style="padding-top: 10px;">
    <div id="wrap">
        <div id="header" class="navbar gradient-control">
            <div class="navbar-inner">
                <div class="container">
                    <a class="float-left" href="/"><img style="width:200px; height:170px" title="Интернет магазин" alt="Интернет магазин" src="/static/images/logo.png"></a>
                    <div id="right">
                        <div style="margin-top:10px;">
                            <ul id="contacts_list" style="float:right">
                                <li><img style="width:24px; height:24px" src="/static/images/KS.png"> 097 022 22 72</li>
                                <li><img style="width:24px; height:24px" src="/static/images/L.png"> 093 546 87 97</li>
                                <li><img style="width:24px; height:24px" src="/static/images/M2.png"> 099 640 68 88</li>
                                <li><img style="width:24px; height:24px" src="/static/images/Skype-icon.png"> voodooua</li>
                                <li><img style="width:24px; height:24px" src="/static/images/icq-icon.png"> 9426958</li>
                            </ul>
                        </div>
                    </div>
                    <div style="margin: 0 auto;" id="middle">
                        <form style="margin: 0 auto;" id="search" method="GET" action="/search_product/">
                            <div style="margin: 30px 100px 0 100px" class="input-append">
                                <input  style="width:90%" id="search_box" type="text" name ="detail_id" value="{{detail_id}}" placeholder="Поиск запчасти по коду">
                                <button type="submit" id="search_submit" class='btn'>
                                        <i class="icon-search"></i>
                                    </button><br>
                            <a href="/search_product/?detail_id=40202-JG01A">Пример поиска: 40202-JG01A</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <div style="float:left;
    width:100%; margin-bottom:10px;margin-top:10px;" id="container" class="gradient-control">
            	
            	<div style="margin:5px 5px 0 5px;"class="" id="left_sidebar">
            		{% if request.user.is_authenticated %}
                    <div style="margin-top:5px;">
                        <span id="login_message">Добро пожаловать, {{ request.user.username }}</span>
                    </div>
            		<div style="margin-top:10px;" id="menu">
            			<ul style="width:200px;margin:0;" class="nav nav-list bs-docs-sidenav">
                            <li><a href="/basket">Корзина({{request.basket_number}})<i class="icon-chevron-right"></i></a></li>
                            <li><a href="/orders">Заказы<i class="icon-chevron-right"></i></a></li>
            				<li style="margin-top:15px" ><a href="/notice_of_payment">Сообщить об оплате<i class="icon-chevron-right"></i></a></li>
                            <li><a href="/prepays">Баланс<i class="icon-chevron-right"></i></a></li>
            				<li style="margin-top:15px" ><a href="/order_dispatch">Заказ отгрузки<i class="icon-chevron-right"></i></a></li>
            				<li><a href="/sendings">Отгрузки<i class="icon-chevron-right"></i></a></li>
            				<li style="margin-top:15px" ><a href="/vin_request">Подбор по авто<i class="icon-chevron-right"></i></a></li>
            				<li><a href="/show_vin">Статистика подборов<i class="icon-chevron-right"></i></a></li>
                            <li style="margin-top:15px" ><a href="{% url auth_logout %}?next=/">Выход<i class="icon-chevron-right"></i></a></li>
            			</ul>

            		</div>

            		{% else %}
                    <ul>
                        <li><a href="{% url registration_register %}">Регистрация</a></li>
                    </ul>
                    <p style="margin-left:20px">Вход для клиентов</p>
                    <p id="login_msg"></p>
            		{% if errors %}
            		       <ul>
            		           {% for error in errors %}
            		           <li>{{ error }}</li>
            		           {% endfor %}
            		       </ul>
            		{% endif %}
            		<form style="margin: 0 0" id="loginForm" method="post" action="/login/" name="login">
            			  {% csrf_token %}
            			  <table>
            			  		<tr>
            			  			<td>
                                        <input id="id_username"  style="width:184px" name="username" class="input-medium" type="text" placeholder="Логин" value="{{ username }}">
            			  			</td>
            			  		</tr>
            			  		<tr>
            			  			<td>
                                        <div class="input-append">
                                        <input style="width:126px" id="id_username"  name="password" class="input-medium" type="password" placeholder="Пароль" value="{{ id_password }}">
                                        <button class="btn btn-primary" type="submit">Вход</button>
                                        </div>

                                    </td>
            			  		</tr>
            			  </table>            		     
            		     
            		</form>
                    <p style="margin-bottom:20px;" ><a style="color: #999999;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);font-size: 11px;" href="{% url auth_password_reset %}">Забыли пароль?</a></p>
                            <div id="menu">
                                <ul style="width:200px;margin:0;" class="nav nav-list bs-docs-sidenav">
                                    <li><a href="/basket">Корзина({{request.basket_number}})<i class="icon-chevron-right"></i></a></li>
                                    <li><a href="/vin_request">Мгновенный подбор запчастей<i class="icon-chevron-right"></i></a></li>
                                </ul>
                            </div>

            		{% endif %}
            	<!-- 	{% block left_sidebar %} 


            		{% endblock %} -->
            	</div>

            	<div style="margin-left:10px;" id="right_sidebar">
            		<div id="right_top">
                                <div id="myCarousel" class="carousel slide">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                <!-- <div class="active item">…</div> -->
                                <div class="item"><img  title="Интернет магазин" alt="Интернет магазин" src="/static/images/detail1.jpg"></div>
                                <div class="item"><img title="Интернет магазин" alt="Интернет магазин" src="/static/images/detail2.jpg"></div>
                                </div>
                                <!-- Carousel nav -->
                                <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a> -->
                                <!-- <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
                                </div>
            		</div>
            		<div style="margin-top:10px; margin-right:10px;margin-bottom:10px; border-top: 1px solid #DDDDDD" id="right_bottom">
                        <center>
                        <object width="290" height="250" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" style="width: 290px; height: 250px;">
                        <embed width="290" height="250" src="/static/images/flash-banner-7.swf" type="application/x-shockwave-flash" style="width: 290px; height: 250px;">
                        </object>
                        </center>
            		</div>
            	</div>

            	<div id="main" class="content bs-docs-example">
            		{% block main %} {% endblock %}
            	</div>

            </div>
            <div id="footer">
                <span class="float-left copyright">Copyright &copy; 2012 <a href="#">Наша компания</a>, Все права защищены</span>
                <ul class="float-right body-footer-social">
                        <li style="padding-top:5px;" class="body-footer-social-i">Следите за нами:</li>
                        <li class="body-footer-social-i"><a href="#" class="vk"></a></li>
                        <li class="body-footer-social-i"><a href="#" class="fb"></a></li>
                        <li class="body-footer-social-i"><a href="#" class="twitter"></a></li>
                        <li class="body-footer-social-i"><a href="#" class="youtube"></a></li>
                </ul>
                <p>
                <a href="#">Контакты</a> 
                | <a href="#">Помощь в работе</a>
                | <a href="#">Каталог</a>
            </div>
    </div><!--end wrap-->
</body>
</html>
