<!DOCTYPE html>
<html lang="ru">
<head>
  	<meta charset="utf-8" />
  	<title>Тут имя сайта</title>
  	<meta name="application-name" content="Тут имя сайта" />
  	<meta http-equiv="X-UA-Compatible" content="IE=8" />
  	<LINK href="{{STATIC_URL}}css/reset.css" rel="stylesheet" type="text/css"> 
  	<LINK href="{{STATIC_URL}}css/main.css" rel="stylesheet" type="text/css">
    {% load i18n admin_modify adminmedia %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css" />
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";</script>
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
    <script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script> 

    <script> 
        $('#loginForm').ajaxForm(function(e) { 
        	$("#username_error").text(e.username_error)
        	$("#password_error").text(e.password_error)
        	if (e.user){
        		location.reload();
        	}
        	else{
        		$("#login_msg").text(e.msg)
        	}
    	}); 
    </script>
  
</head>

<body>
    <div id="wrap">
		<div id="header">
    		<div id="left">
    			<a href="/index">Тут логотип наш</a>
    		</div>
			<div id="right">
    			<p>Контакты КонтактыКонтактыКонтактыКонтактыКонтакты</p>
    		</div>
    		<div id="middle">
    				<form id="search">
    					{% csrf_token %}
	    				<input type="text" id="search_box" />
	    				<input id="search_submit" value = "OK" type="submit" id="search_box_submit"/><br>
	    				<a href="#">Пример поиска: 40202-JG01A</a>
    				</form>

    			<div id="contacts">
    				<p>Контакты</p>
    				<p>Каталог подбора</p>
    			</div>

    		</div>

		</div>
            <div id="container">
            	
            	<div id="left_sidebar">
            		<p>Login</p>
            		<p id="login_msg"></p>
            		{% if request.user.is_authenticated %}
            		<p id="login_message">Добро пожаловать, {{ request.user.username }}.</p>
            		<br>
            		<a href="{% url auth_logout %}?next=/index">Logout</a>

            		<div id="menu">
            			<ul>
            				<li><a href="/notice_of_payment">Уведомить об оплате</a></li>
                            <li><a href="/prepays">Проплаты</a></li>
            				<li><a href="/order_dispatch">Заказ отправки</a></li>
            				<li><a href="/sendings">Отправки</a></li>
            				<li><a href="/vin_request">Подать VIN запрос</a></li>
            				<li>Пункт меню 5</li>
            			</ul>
            		</div>

            		{% else %}

            		{% if errors %}
            		       <ul>
            		           {% for error in errors %}
            		           <li>{{ error }}</li>
            		           {% endfor %}
            		       </ul>
            		{% endif %}
            		<form id="loginForm" method="post" action="/login/" name="login">
            			  {% csrf_token %}
            			  <table>
            			  		<tr>
            			  			<td>
            			  				<label for="id_username">username:</label>
            			  			</td>
            			  			<td>
            			  				<input id="id_username" type="text" name="username" value="{{ username }}" maxlength="30" />
            			  			</td>
            			  			<td>
            			  				<label id="username_error"></label>
            			  			</td>
            			  		</tr>
            			  		<tr>
            			  			<td>
            			  				<label for="id_password">password: </label>
            			  			</td>
            			  			<td>
            			  				<input type="password" name="password" id="id_password" />
            			  			</td>
            			  			<td>
            			  				<label id="password_error"></label>
            			  			</td>
            			  		</tr>
            			  </table>            		    
            		      <input type="submit" value="Log In" />
            		</form>

            		<ul>
            		    <li><a href="{% url auth_password_reset %}">Забыли пароль?</a></li>
            		    <li><a href="{% url registration_register %}">Регистрация</a></li>
            		</ul> 
            		{% endif %}
            	<!-- 	{% block left_sidebar %} 


            		{% endblock %} -->
            	</div>

            	<div id="right_sidebar">
            		<div id="right_top">
            			<p>Флешка</p>
            			<p>реклама</p>
            			<p>СТО</p>
            		</div>

            		<div id="right_bottom">
            			<p>Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.</p>
            		</div>
            	</div>

            	<div id="main" class="content">
            		{% block main %} {% endblock %}
            	</div>

            </div>
    </div><!--end wrap-->
</body>
</html>
