{% extends "base.html" %}

{% block css %}

<style>
#basket_form table tbody td input{
	margin-left: 7px;
}
</style>

{% endblock %}
{% block javascript %}

<script type="text/javascript">
$(function(){
	$(".plus_detail").live('click', function(){
		var n = parseInt($(this).siblings('.num_detail').val()) + 1
		$(this).siblings('.num_detail').val(n)
	})
	$(".minus_detail").live('click', function(){
		if ( parseInt($(this).siblings('.num_detail').val()) == 1)
			return
		var n = parseInt($(this).siblings('.num_detail').val()) - 1
		$(this).siblings('.num_detail').val(n)
	})

	$('#recount').live('click',function () {
			var ids = {}
			var can_request = true
			$("#basket_form table tbody tr").each(function() {
				id = $('.item_id', this).val()
				ids[id] = $('.num_detail', this).val()
			});
			console.log(ids)
			$.ajax({
              type: "POST",
              url: '/update_basket/',
              data: ids
              }).done(function( msg ) {

              })
	});

})
</script>

{% endblock %}
{% block main %}
<p>Содержимое корзины:</p>
<form id="basket_form" method="POST" action="#">
    <table>
    	<thead>
	        <tr>
	        	<th></th>
	            <th>Номер / бренд</th>
	            <th>Срок поставки</th>
	            <th>Колличество</th>
	            <th>Стоимость</th>
	            <th></th>
	        </tr>
	    </thead>
        <tbody>
        	{% for item in cart %}
        	        <tr>
        	        	<td><input class="item_id" type="hidden" value="{{ item.product.id }}"></td>
        	            <td>{{ item.product.name }}</td>
        	            <td>{{ item.product.delivery_time }}</td>
        	            <td><div><input class="minus_detail" type="button" value="-"><input class="num_detail" style="width:40px" type="text" value="1" name="num_detail"><input class="plus_detail" type="button" value="+"></div></td>
        	            <td>{{ item.total_price }}</td>
        	        </tr>
        	{% endfor %}
	        <tr>
	            <td></td>
	            <td></td>
	            <td>Итого:</td>
	            <td>2782 грн.</td>
	        </tr>
        </tbody>
    </table>
    <div>
    	<input class="float-left" type="submit" value="Оформить заказ" />
    	<input id="recount" class="float-right" type="button" value="Обновить" />
    </div>
</form>
<br>
<br>
<h1>Продукты</h1>
<ul>
	{% for p in products %}
	<li>
		<p>{{p.name}}</p>
		<form method="POST" action="/add_to_cart/">
			<input type="hidden" name="item_id" value="{{p.id}}">
			<input type="submit" value="Купить">
		</form>
	</li>
	{% endfor %}
</ul>

{% endblock %}