{% extends "base.html" %}

{% block left_sidebar %}

<!-- <p>Login</p> -->
<!-- {% if user.is_authenticated %}
My name is, ({{ user.username }}). My city is {{request.user.get_profile.city}} 
<br>
<a href="{% url auth_logout %}">Logout</a>

<div id="menu">
	<ul>
		<li>Пункт меню 1</li>
		<li>Пункт меню 2</li>
		<li>Пункт меню 3</li>
		<li>Пункт меню 4</li>
		<li>Пункт меню 5</li>
	</ul>
</div>

{% else %} -->

<!-- <form id="register">
		<a href="/signup"><span>Регистрация</span></a><br>
		<a href="#"><span>Забыли пароль?</span></a><br>
	<input type="text" value="Логин" id="login" /><br>
	<input type="password" value="" id="password" />
	<input id="submit" value="OK" type="submit"/>
</form> -->

<!-- <form method="post" action="/login/" name="login">
      {% csrf_token %}
      <p><label for="id_username">username:</label> <input id="id_username" type="text" name="username" value="{{ username }}" maxlength="30" /></p>
      <p><label for="id_password">password:</label> <input type="password" name="password" id="id_password" /></p>
      {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
      <input type="hidden" name="next" value="/index/" />
      {% endif %}
      <input type="submit" value="Log In" />
   </form>

<ul>
    <li><a href="{% url auth_password_reset %}">Забыли пароль?</a></li>
    <li><a href="{% url registration_register %}">Регистрация</a></li>
</ul> 

{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}
 
<form method="post" action="">{% csrf_token %}
<dl class="register">  
{% for field in form %}
    <dd>
    	{{ field }}
	    {% if field.errors %}
	    	<div>{{ field.errors }}
	    	</div>
	    {% endif %}
    </dd>
{% endfor %}
</dl>
<input type="submit" value="Вход" / class="clearfix">
</form>
   


 <br/><br/>
{% endif %}
 -->

{% endblock%}

{% block main %}
<p>Наши контакты, карта проезда, адресс.</p>
<p>При поиске запчасти покоду,вместо текущего окна выдавать результаты поиска в виде которы описанв файде</p>
<p>При поиске запчасти покоду,вместо текущего окна выдавать результаты поиска в виде который описанв файде</p>
<p>При поиске запчасти покоду,вместо текущего окна выдавать результаты поиска в виде который описанв файде</p>
<p>При поиске запчасти покоду,вместо текущего окна выдавать результаты поиска в виде который описанв файде</p>
<p>При поиске запчасти покоду,вместо текущего окна выдавать результаты поиска в виде который описанв файде</p>
<p>При поиске запчасти покоду,вместо текущего окна выдавать результаты поиска в виде который описанв файде</p>
<p>При поиске запчасти покоду,вместо текущего окна выдавать результаты поиска в виде который описанв файде</p>
{% endblock %}