{% extends "base.html" %}

{% block left_sidebar %}

{% endblock%}

{% block main %}
<p>Наши контакты, карта проезда, адресс.</p>
<p>При поиске запчасти покоду,вместо текущего окна выдавать результаты поиска в виде которы описанв файде</p>
<p>При поиске запчасти покоду,вместо текущего окна выдавать результаты поиска в виде который описанв файде</p>
<p>При поиске запчасти покоду,вместо текущего окна выдавать результаты поиска в виде который описанв файде</p>
<p>При поиске запчасти покоду,вместо текущего окна выдавать результаты поиска в виде который описанв файде</p>
<p>При поиске запчасти покоду,вместо текущего окна выдавать результаты поиска в виде который описанв файде</p>
<p>При поиске запчасти покоду,вместо текущего окна выдавать результаты поиска в виде который описанв файде</p>
<p>При поиске запчасти покоду,вместо текущего окна выдавать результаты поиска в виде который описанв файде</p>
{% endblock %}