<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Тут имя сайта</title>
  <meta name="application-name" content="Тут имя сайта" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />

  <style type="text/css">
	  	div {
	    	border: 1px solid black;
	    }
	    a{
	    	text-decoration: underline;
	    }
 </style>


</head>

<body>
    <div id="wrap">
    		<div id="header">
	    		<div id="left">
	    			<p>Тут логотип наш</p>
	    		</div>

	    		<div id="middle">
	    			<div id="search">
	    				<input type="text" id="search_box" />
	    				<a href="#">Пример поиска: 40202-JG01A</a>
	    			</div>

	    			<div id="contacts">
	    				<span><p>Контакты</p></span>
	    				<span><p>Каталог подбора</p></span>
	    			</div>

	    		</div>

	    		<div id="right">
	    			<span><p>Контакты компании: в виде Имя, два телефона в столбик перед ними иконка с тем какой это оператор Иконки, Имя и Телефоны вписываются в админ меню и их можно менять.</p></span>
	    		</div>


    		</div>
            <div id="container">

            	<div id="left_sidebar">
            		<div id="register">
            			<form>
	            			<a href="#">Регистрация</a>
	            			<a href="#">Забыли пароль?</a>
	            			<input type="text" value="Логин" id="login" />
	            			<input type="password" value="" id="password" />
	            			<input type="submit"/>
            			</form>
            		</div>

            		<div id="menu">
            			<ul>
            				<li>Пункт меню 1</li>
            				<li>Пункт меню 2</li>
            				<li>Пункт меню 3</li>
            				<li>Пункт меню 4</li>
            				<li>Пункт меню 5</li>
            			</ul>
            		</div>
            	</div>

            	<div id="main">
            		<p>Наши контакты, карта проезда, адресс.</p>
            		<p>При поиске запчасти покоду,вместо текущего окна выдавать результаты поиска в виде который описанв файде</p>
            	</div>

            	<div id="right_sidebar">
            		<div>
            			<p>Флешка</p>
            			<p>реклама</p>
            			<p>СТО</p>
            		</div>

            		<div>
            			<p>Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.Смена кадров запчастей.</p>
            		</div>
            	</div>

            </div>
    </div><!--end wrap-->
</body>
</html>
