{% extends "base.html" %}
{% block javascript%}
<script type="text/javascript">
	$(function(){
	  $("#menu ul li:eq(2)").addClass("active")
	})
</script>
{% endblock %}
{% block main %}
<pre>После перечисления денег просим сообщить нам про оплату. Для этого заполните форму представленную ниже. Убедительная просьба указывать перечисляемую сумму, без учета комиссии банка. Как только мы получим от Вас извещение про оплату, денежные средства же зачисляются на Ваш баланс. Благодарим Вас за доверие к нам.
</pre>
{{ form.media }}
{% load bootstrap_toolkit %}
<form class="form-horizontal" action="/notice_of_payment/" method="post">
		{{ form|as_bootstrap:"horizontal" }}
	 <div class="actions">
        <button type="submit" class="btn btn-primary">Отправить уведомление</button>
    </div>
</form>

{% if success %}
<h3>Уведомление успешно отправлено</h3>
{% endif %}

{% endblock %}