{% extends "base.html" %}
{% block javascript%}
<script type="text/javascript">
	$(function(){
	  $("#menu ul li:eq(4)").addClass("active")
	})
</script>
{% endblock %}
{% block main %}
<pre>Заполнив форму представленную ниже, Вы сделаете заказ отгрузки товара готового к отправке. Для избегания дополнительных трат на доставку товара, мы рекомендуем заказывать весь товар в одной посылке.
</pre>
{% load bootstrap_toolkit %}
<form class="form-horizontal" action="/order_dispatch/" method="post">
		{{ form|as_bootstrap:"horizontal" }}
	 <div class="actions">
        <button type="submit" class="btn btn-primary">Заказать отправку</button>
    </div>
</form>

{% if success %}
<h3>Отправка успешно отправлена.</h3>
{% endif %}

{% endblock %}