{% extends "base.html" %}
{% block main %}
<h3>Заказать отправку...</h3>
<pre>	Если вы провели оплату заказа, нужно уведомить нас об этом с помощью формы, представленной ниже.	
	Просьба вводить данные точно и максимально полно - особенно в поле информации по оплате, где желательно указать, за что Вы заплатили. Если выбран тип платежа "Другое", то укажите чем отпралвены деньги. Сумму нужно указывать не ту, которую с Вас взял банк, а ту, которая идет на оплату заказа(ов).	Получив уведомление об оплате, мы быстрее сможем приступить к выполнению Вашего заказа.

</pre>

<form action="/order_dispatch/" method="post">
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Заказать отправку" />
</form>

{% if success %}
<h3>Отправка успешно отправлена.</h3>
{% endif %}

{% endblock %}