{% extends "base.html" %}
{% block javascript%}
<script type="text/javascript">
	$(function(){
	  $("#menu ul li:eq(1)").addClass("active")
	})
</script>
{% endblock %}
{% block main %}
<pre>Здесь Вы можете просмотреть статистику заказов, выбрав нужный период по датам.</pre>
{% load bootstrap_toolkit %}
{{ form.media }}
<form class="form-inline frame-pre" action="/orders/" method="post">
             {{ form|as_bootstrap:"inline" }}
    <div class="actions">
        <button style="margin: 10px 0 10px 240px;" type="submit" class="btn btn-primary">Применить</button>
    </div>
</form>

{% if result %}
<table class="table">
	<thead>
		<tr>
			{# <th></th> #}
			<th>Дата заказа</th>
			<th>Номер</th>
			<th>Бренд</th>
			<th>Коллич.</th>
			<th>Сумма</th>
			<th>Комментарии к заказу</th>
			<th>Статус заказа</th>
		</tr>
	</thead>
	<tbody>
		{% for row in result %}
				<tr>
				  {# <td><img width="50" height="50" src="/static/images/{{r.product.image}}"></td> #}
				  <td>{{ row.order.creation_date }}</td>
				  <td>{{row.product.code}}</td>
				  <td>{{ row.product.brand }}</td>
				  <td>{{ row.count }}</td>
				  <td>{{ row.total_price }}</td>
				  <td>{{ row.comment }}</td>
				  {% if row.status.status == 'Сообщен' %}
					  <td>Принят</td>
				  {% elif row.status.status == 'Оформлен' or row.status.status == 'Заказан' %}
					  <td>Заказан</td>
				  {% elif row.status.status == 'Доставлен' %}
					  <td style="color:green">{{ row.status.status }}</td>
				  {% elif row.status.status == 'Отказ' %}
					  <td style="color:red">{{ row.status.status }}</td>
				  {% endif %}
				</tr>
		{% endfor %}
	</tbody>
</table>
<p style="text-align:center;font-weight:bold">Значения статусов заказов</p>
<span style="font-weight:bold">Принят</span><span> - Заказываемая позиция принята на обработку.</span><br>
<span style="font-weight:bold">Заказан</span><span> - (при отсутствии в наличии) выполнен заказ позиции у поставщика, ожидается доставка.</span><br>
<span style="font-weight:bold;color:green">Доставлен</span><span> - Позиция фактически находится у нас на складе.</span><br>
<span style="font-weight:bold;color:red">Отказ</span><span> - Выполнение заказа невозможно по тем или иным причинам.</span>
{% else %}
<h3>{{error}}</h3>
{% endif %}
{% endblock %}