{% extends "base.html" %}
{% block javascript%}
<script type="text/javascript">
	$(function(){
	  $("#menu ul li:eq(3)").addClass("active")
	})
</script>
{% endblock %}
{% block main %}
<pre>Здесь Вы можете просмотреть статистику сделанных оплат и баланс денег на счете, выбрав нужный период по датам.</pre>
{% load bootstrap_toolkit %}
{{ form.media }}
<form class="form-inline frame-pre" action="/prepays/" method="post">
             {{ form|as_bootstrap:"inline" }}
    <div class="actions">
        <button style="margin: 10px 0 10px 240px;" type="submit" class="btn btn-primary">Применить</button>
    </div>
</form>

{% if result %}
<table class="table">
	<thead>
		<tr>
			<th>Дата</th>
			<th>Сумма</th>
			<th>Валюта</th>
			<th>Тип платежа</th>
			<th>Информация об оплате</th>
			<th>Подтвержденный платеж ?</th>
		</tr>
	</thead>
	<tbody>
		{% for row in result %}
		
			<tr>
			  <td>{{ row.date }}</td>
			  <td>{{ row.summa }}</td>
			  <td>{{ row.valuta }}</td>
			  <td>{{ row.type_of_payment }}</td>
			  <td>{{ row.additional_info }}</td>
			  <td>{{ row.confirmed }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>


{% else %}
<h3>{{error}}</h3>
{% endif %}

{% endblock %}