{% extends "base.html" %}
{% load admin_center_extras %}
{% block javascript%}
<script type="text/javascript">
</script>
{% endblock %}
{% block main %}
<h3>Поиск запчасти по коду</h3>
{% load bootstrap_toolkit %}

{% if result %}
<table class="table">
    <thead>
        <tr>
            <th>Бренд</th>
            <th>Код детали</th>
            <th>Описание</th>
            <th>Цена</th>
            {% if perms.admin_center.view_admin_center %}
            	<th>Поставщик</th>
            {% endif %}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for row in result %}
            <tr>
              <td>{{ row.brand }}</td>
              <td>{{ row.code }}</td>
              <td>{{ row.description }}</td>
              {% if perms.admin_center.view_admin_center %}
              	<td> {{ row.price_with_currency}} грн.</td>
              {% else %}
              	<td> {{ row.price_with_currency|price_with_discount:discount }} грн.</td>
              {% endif %}
              {% if perms.admin_center.view_admin_center %}
              	<td>{{ row.supplier.name }}</td>
              {% endif %}
              <td><form  method="POST" action="/add_to_cart/">
                      <input type="hidden" name="product_id" value="{{row.id}}">
                      <button class="btn btn-primary" type="submit">Купить</button>
                  </form>
              </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% else %}
<h5>{{error}}</h5>
{% endif %}

{% endblock %}