{% extends "base.html" %}
{% block javascript%}
<script type="text/javascript">
	$(function(){
	  $("#menu ul li:eq(3)").addClass("active")
	})
</script>
{% endblock %}
{% block main %}
<h3>Отправки...</h3>
{% load bootstrap_toolkit %}
{{ form.media }}
<form class="form-inline frame-pre" action="/sendings/" method="post">
             {{ form|as_bootstrap:"inline" }}
    <div class="actions">
        <button style="margin: 10px 0 10px 240px;" type="submit" class="btn btn-primary">Применить</button>
    </div>
</form>

{% if result %}
<table class="table">
	<thead>
		<tr>
			<th>Дата</th>
			<th>Получатель</th>
			<th>Город</th>
			<th>Склад</th>
			<th>Номер декларации</th>
		</tr>
	</thead>
	<tbody>
		{% for row in result %}
		
			<tr>
			  <td>{{ row.date }}</td>
			  <td>{{ row.receiver }}</td>
			  <td>{{ row.city }}</td>
			  <td>{{ row.warehouse }}</td>
			  <td>{{ row.declaration_number }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>


{% else %}
<h3>{{error}}</h3>
{% endif %}

{% endblock %}