{% extends "base.html" %}

{% block javascript %}
<script type="text/javascript"> 
	$(function(){
		var details_count = 1;
		$('a.vin_link').live('click',function (event) {
			var vin_id = $(this).attr('href')
			console.log("show vin "+vin_id)
			$.ajax({
                  type: "POST",
                  url: '/get_vin_by_id/',
                  data: {"vin_id":vin_id}
                  }).done(function( msg ) {
                  	console.log(msg[0].fields.car_vin)
                  })
			event.preventDefault();
		})
	})

</script>
{% endblock %}

{% block main %}
<h3>Фильтр по VIN запросам...</h3>

<form style="border: 1px solid black; border-radius: 6px;" action="/show_vin/" method="post">
			<!-- <div style="padding-left:100px;">{{ form.min_date.errors }}</div> -->
            <pre style="margin: 10px 10px;">Создана/редактирована между  {{ form.min_date }}    и     {{form.max_date}}</pre>
	<input style="margin: 10px 0 10px 240px;" type="submit" value="Применить фильтр" />
</form>

{% if result %}
<table>
	<thead>
		<tr>
			<td>Номер №</td>
			<td>Дата запроса</td>
			<td>VIN</td>
			<td>Комментарии</td>
			<td>Статус</td>
		</tr>
	</thead>
	<tbody>
		{% for row in result %}
		
			<tr>
			  <td>{{ row.id }}</td>
			  <td>{{ row.date }}</td>
			  <td><a class="vin_link" href="{{row.id}}">{{ row.car_vin }}</a></td>
			  <td>{{ row.comments }}</td>
			  <td>
			  	{% if row.status == 'Принят' %}
			  		Обрабатывается
			  	{% else %}
			  		Обработан
			  	{% endif %}
			  </td>
			</tr>
		{% endfor %}
	</tbody>
</table>


{% else %}
<h3>{{error}}</h3>
{% endif %}

{% endblock %}