{% extends "base.html" %}

{% block javascript %}
<script type="text/javascript"> 
	$(function(){
		var details_count = 1;
		$('a.vin_link').live('click',function (event) {
			var vin_id = $(this).attr('href')
			console.log("show vin "+vin_id)
			$.ajax({
                  type: "POST",
                  url: '/get_vin_by_id/',
                  data: {"vin_id":vin_id}
                  }).done(function( msg ) {
                  	$("#vin_info").html('<p>Содержимое VIN-запроса №__ (импортирован в ОЦ, заказ №__)</p>'
                  		+ '<table>'
	                  		+ '<tr>'
		                  		+ '<td>Марка автомобиля</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_brand +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>VIN</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_vin +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>Модель серия</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_model +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>Двигатель</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_engine +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>Год выпуска</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_year +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>Объем двигателя</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.engine_capacity +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>Кузов</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_body +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>КПП</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_kpp +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>Дополнительно</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_additionals +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>Дополнительная информация</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.additional_info +'</td>'
	                  		+ '<tr>'
                  		+ '</table>'
                  		+ '<p>Заказываемые Вами запчасти</p>'
						+ '<table id="vin_details">'
							+ '<thead>'
								+ '<tr>'
									+ '<td>№</td>'
									+ '<td>Описание</td>'
									+ '<td>Кол.</td>'
								+ '</tr>'
							+ '</thead>'
                  		+ '</table>'                  		
                  		);

					$.each(msg["vin_details"],function(index, value) {
						$("#vin_details").append(
							  '<tr>'
								+ '<td>'+ (index+1) +'</td>'
								+ '<td>'+ msg["vin_details"][index].fields.name +'</td>'
								+ '<td>'+ msg["vin_details"][index].fields.number +'</td>'
							+ '</tr>')
					})
                  })
			event.preventDefault();
		})
	})

</script>
{% endblock %}

{% block main %}
<h3>Фильтр по VIN запросам...</h3>

<form style="border: 1px solid black; border-radius: 6px;" action="/show_vin/" method="post">
			<!-- <div style="padding-left:100px;">{{ form.min_date.errors }}</div> -->
            <pre style="margin: 10px 10px;">Создана/редактирована между  {{ form.min_date }}    и     {{form.max_date}}</pre>
	<input style="margin: 10px 0 10px 240px;" type="submit" value="Применить фильтр" />
</form>

{% if result %}
<table>
	<thead>
		<tr>
			<td>Номер №</td>
			<td>Дата запроса</td>
			<td>VIN</td>
			<td>Комментарии</td>
			<td>Статус</td>
		</tr>
	</thead>
	<tbody>
		{% for row in result %}
		
			<tr>
			  <td>{{ row.id }}</td>
			  <td>{{ row.date }}</td>
			  <td><a class="vin_link" href="{{row.id}}">{{ row.car_vin }}</a></td>
			  <td>{{ row.comments }}</td>
			  <td>
			  	{% if row.status == 'Принят' %}
			  		Обрабатывается
			  	{% else %}
			  		Обработан
			  	{% endif %}
			  </td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<div id="vin_info">
</div>


{% else %}
<h3>{{error}}</h3>
{% endif %}

{% endblock %}