{% extends "base.html" %}

{% block css %}
<style>
#vin_info button{
margin-right: 10px;
}
</style>
{% endblock %}
{% block javascript %}
<script type="text/javascript"> 
	$(function(){

		$('#order_details').live('click',function () {
			list1 = Array()
			list2 = Array()
			$("#offered_details .num_offered_detail").each(function() {
				list1.push($(this).val())
			})

			$("#offered_details .detail_status_checkbox").each(function() {
				list2.push($(this).is(':checked'))
			})

			

			$.ajax({
              type: "POST",
              url: '/order_details/',
              data: {"vin_id": vin_id, "num_offered_detail": list1, "statuses": list2}
              }).done(function( msg ) {
              	$("#alert").html('<div class="alert alert-success"> <strong>Спасибо за заказ!</strong> Дальнейший статус заказа вы можете посмотреть в разделе Заказы</div>')
              })
		});

		$("#menu ul li:eq(7)").addClass("active")
		var details_count = 0;
		var offered_details_count = 0;
		var vin_id = -1
		$('a.vin_link').live('click',function (event) {
			vin_id = $(this).attr('href')
			console.log("show vin "+vin_id)
			$.ajax({
                  type: "POST",
                  url: '/get_vin_by_id/',
                  data: {"vin_id":vin_id}
                  }).done(function( msg ) {
                  	details_count = 0
                  	offered_details_count = 0
                  	$("#vin_info").html('<p>Содержимое VIN-запроса № '+ msg["vin_request_id"] +' (импортирован в ОЦ, заказ № ' + msg["vin_request"][0].pk + ')</p>'
                  		+ '<table class="table">'
	                  		+ '<tr>'
		                  		+ '<td>Марка автомобиля</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_brand +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>VIN</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_vin +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>Модель серия</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_model +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>Двигатель</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_engine +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>Год выпуска</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_year +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>Объем двигателя</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.engine_capacity +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>Кузов</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_body +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>КПП</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_kpp +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>Дополнительно</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.car_additional_information +'</td>'
	                  		+ '</tr>'
	                  		+ '<tr>'
		                  		+ '<td>Дополнительная информация</td>'
		                  		+ '<td>'+ msg["vin_request"][0].fields.order_additional_information +'</td>'
	                  		+ '<tr>'
                  		+ '</table>'
                  		+ '<p style="margin-left:200px">Заказываемые Вами запчасти</p>'
						+ '<table class="table" id="vin_details">'
							+ '<thead>'
								+ '<tr>'
									+ '<th>№</th>'
									+ '<th>Описание</th>'
									+ '<th>Кол.</th>'
								+ '</tr>'
							+ '</thead>'
                  		+ '</table>'                  		
                  		);
					var details = msg["vin_request"][0].fields.order_info
					var n=details.split(";"); 
					$.each(n,function(index, value) {
						$("#vin_details").append(
							  '<tr>'
								+ '<td>'+ ++details_count +'</td>'
								+ '<td><input style="width:400px" type="text" class="detail_name" value="'+ n[index].split(",")[0] +'"></td>'
								+ '<td><input style="width:50px" type="text" class="detail_number" value="'+ n[index].split(",")[1].split(" ")[1] +'"></td><td><label class="error_label"></label></td>'
							+ '</tr>')
					})
					$("#vin_info").append(
						'<button style="margin-left:100px" class="btn" id="add_to_details">Добавить строку</button>'
						+'<button class="btn"  id="delete_details">Удалить строку</button>'
						+'<button class="btn"  id="save_details">Сохранить</button>'
					)
					if (msg["vin_request"][0].fields.order_status == 2){
						$("#vin_info").append(
							'<p style="margin-left:200px; margin-top:20px;">Предлагаемые вам запчасти</p>'
							+ '<table class="table" id="offered_details">'
								+ '<thead>'
									+ '<tr>'
										+ '<th>№</th>'
										+ '<th>Бренд</th>'
										+ '<th>Описание</th>'
										+ '<th>Цена</th>'
										+ '<th>Кол.</th>'
										+ '<th>Срок поставки</th>'
										+ '<th>Статус</th>'
									+ '</tr>'
								+ '</thead>'
	                  		+ '</table>'    
	                  		+ '<button type="" class="btn btn-primary" id="order_details">Оформить заказ</button>'
	                  		+ '<div id="alert" style="margin-top:20px;"></div>'
						)
						$.each(msg["vin_details"],function(index, value) {
							var input_checkbox = '<input class="detail_status_checkbox" name="detail_status" type="checkbox">'
							if (msg["vin_details"][index].fields.status == 2){
								input_checkbox = '<input class="detail_status_checkbox" name="detail_status" type="checkbox" checked>'
							}
							$("#offered_details").append(
								  '<tr>'
									+ '<td>'+ msg["vin_details"][index].fields.code +'</td>'
									+ '<td>'+ msg["vin_details"][index].fields.brand + '</td>'
									+ '<td>'+ msg["vin_details"][index].fields.comment + '</td>'
									+ '<td>'+ parseFloat(msg["vin_details"][index].fields.price_2) * parseInt(msg["vin_details"][index].fields.count)  + '</td>'
									+ '<td><input class="num_offered_detail input-mini" name="detail_count" type="text" value="'+ msg["vin_details"][index].fields.count + '"></td>'
									+ '<td>'+ msg["vin_details"][index].fields.delivery_time + '</td>'
									+ '<td>' + input_checkbox + '</td>'
								+ '</tr>')
						})
					}

                  })
			event.preventDefault();
		})

		$('#add_to_details').live('click',function () {
			$("#vin_details").append
			(
				  '<tr>'
				+ '<td>'+ ++details_count +'</td>'
				+ '<td><input style="width:400px" type="text" class="detail_name"></td>'
				+ '<td><input style="width:50px" type="text" class="detail_number" value="1"></td><td><label class="error_label"></label></td>'
				+ '</tr>'
			);
		});

		$('#delete_details').live('click',function () {
			$('#vin_details tbody tr:last').remove();
			if($('#vin_details tbody tr:last').length > 0){
				details_count--;
			}
			if($('#vin_details tbody tr:last').length == 0){
				details_count=0
			}
		});

		$('#save_details').live('click',function () {
				var details_name = Array()
				var details_number = Array()
				var can_request = true
				$("#vin_details tbody tr").each(function() {
					if($('.detail_name',this).val()==""){
						$('.error_label', this).text('Необходимо заполнить описание')
						can_request = false
					}
					else{
						$('.error_label', this).text('')
						details_name.push($('.detail_name',this).val())	
					}

					if($('.detail_number',this).val()==""){
						if($('.error_label', this).text()==""){
							$('.error_label', this).text('Необходимо заполнить колличество деталей')
						}else{
							$('.error_label', this).text('Необходимо заполнить описание и колличество деталей')
						}
						can_request = false
					}
					else{
						if($('.error_label', this).text()==""){
							$('.error_label', this).text('')	
						}
						var intRegex = /^\d+$/;
						if(!intRegex.test($('.detail_number',this).val())){
							$('.error_label', this).text('Пожалуйства используйте только цифры для колличества деталей.')		
							can_request = false
						}
						details_number.push($('.detail_number',this).val())	
					}
				    
				});
				if(can_request){
					$.ajax({
	                  type: "POST",
	                  url: '/save_del_details/',
	                  data: {"details_name":details_name, "details_number":details_number, "vin_id": vin_id}
	                  }).done(function( msg ) {

	                  })
              }
		});
	})

</script>
{% endblock %}

{% block main %}
<pre>Здесь Вы можете просмотреть статистику сделанных подборов, выбрав нужный период по датам.</pre>
{% load bootstrap_toolkit %}
{{ form.media }}
<form class="form-inline frame-pre center_elements" action="/show_vin/" method="post">
             {{ form|as_bootstrap:"inline" }}
    <div style="margin: 10px auto 0px auto;" class="actions center_elements">
        <button type="submit" class="btn btn-primary">Применить</button>
    </div>
</form>
{% if result %}
<table class="table">
	<thead>
		<tr>
			<td>Номер №</td>
			<td>Дата запроса</td>
			<td>VIN</td>
			<td>Комментарии</td>
			<td>Статус</td>
		</tr>
	</thead>
	<tbody>
		{% for row in result %}
		
			<tr>
			  <td>{{ row.id }}</td>
			  <td>{{ row.order.creation_date }}</td>
			  <td><a class="vin_link" href="{{row.order.id}}">{{ row.order.car_vin }}</a></td>
			  <td>Не понятно что сюда писать</td>
			  <td>
			  	{% if row.order.order_status.status == 'Принят' %}
			  		Обрабатывается
			  	{% else %}
			  		Обработан
			  	{% endif %}
			  </td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<div id="vin_info">
</div>


{% else %}
<h3>{{error}}</h3>
{% endif %}

{% endblock %}