{% extends "base.html" %}

{% block javascript %}
<script type="text/javascript"> 
	$(function(){
		{% if request.user.is_authenticated %}
	  		$("#menu ul li:eq(6)").addClass("active")
	  	{% else %}
	  		$("#menu ul li:eq(1)").addClass("active")
	  	{% endif %}

		var details_count = 1;
		// $('#add_to_details').live('click',function () {
		// 	console.log("add new line")
		// 	$("#vin_details_list").append
		// 	(
		// 		  '<li style="margin-top:10px;">'
		// 		+	'<label style="float:left">'+ ++details_count +'.</label>'
		// 		+	'<input name="details_name" class="detail_name" type="text"/>'
		// 		+	'<input name="details_number" class="detail_number" type="text" value="1"/>'
		// 		+  '</li>'
		// 	);
		// });

		// $('#delete_from_details').live('click',function () {
		// 	$('#vin_details_list li:last').remove();
		// 	details_count--;
		// });

		$('#add_to_details').live('click',function () {
			$("#vin_details_table tbody").append
			(
				  '<tr>'
				+ '<td>'+ ++details_count +'</td>'
				+ '<td><input type="text" name="details_name" class="details_name"></td>'
				+ '<td><input type="text" name="details_number" class="details_number" value="1"></td><td><label class="error_label"></label></td>'
				+ '</tr>'
			);
		});

		$('#delete_from_details').live('click',function () {
			if($('#vin_details_table tbody tr').length == 1)
				return
			$('#vin_details_table tbody tr:last').remove();
			if($('#vin_details_table tbody tr:last').length > 0){
				details_count--;
			}
			if($('#vin_details_table tbody tr:last').length == 0){
				details_count=0
			}
		});

	})

</script>
{% endblock %}
	
{% block css %}
<style>
	#vin_details {
		/*margin: 10px 0 10px 0px;*/
	}

	#vin_details p {
		margin-left: 60px;
	}
	#vin_details_list li{
		list-style-type: none;
	}

	.detail_name {
		width: 390px;
		margin-left: 10px;
	}

	.detail_number {
		width: 30px;
		margin-left: 10px;
	}

	#div_with_add_and_delete{
		margin-left: 120px;
		width: 300px;
	}

	#div_with_add_and_delete input {
		margin-right: 10px;
	}

	#submit {
		/*margin-left: 250px;*/
	}
	.controls .checkbox {
		/*float: left;*/
	}

	.details_number {
		width:30px;
	}
	.details_name {
		width:95%;
	}

</style>
{% endblock %}

{% block main %}
<pre>У Вас возникли сомнения в правильности подбора запчастей к Вашему авто или Вы вовсе не знаете какие запчасти подходят к Вашему автомобилю. Воспользуйтесь услугами наших квалифицированных менеджеров, заполнив простую форму ниже. В Кратчайшие сроки Вам сообщат.
</pre>
{% load bootstrap_toolkit %}
{{ form.media }}
<form class="form-horizontal" id="vin_form" action="/vin_request/" method="post">
	<table id="vin_request_table">
		{{ form|as_bootstrap:"horizontal" }}
	</table>
	<div id="vin_details">
		<p>Укажите необходимые Вам запчасти</p>
		<!-- <ul id="vin_details_list">
			<li> 
				<label style="float:left">1.</label><input name="details_name" class="detail_name" type="text"/><input class="detail_number" name="details_number" type="text" value="1"/>
			</li>
		</ul> -->
		    <table class="table" id="vin_details_table">
			    <thead>
				    <tr>
					<th>№</th>
					<th>Описание</th>
					<th>Кол.</th>
					</tr>
				</thead>
				<tbody>
				<tr>
					<td>1</td>
					<td><input type="text" name="details_name" class="details_name"></td>
					<td><input type="text" name="details_number" class="details_number" value="1"></td><td><label class="error_label"></label></td>
				</tr>
			</tbody>
            </table>    
		<div style="margin: 10px auto 0px auto;" id="div_with_add_and_delete" class="center_elements"><button style="margin-right:20px;" type="button" class="btn" id="add_to_details">Добавить строку</button><button type="button" class="btn" id="delete_from_details">Удалить строку</button></div>
	</div>
	<button style="margin-top:20px;" class="btn btn-primary" id="submit" type="submit">Отправить запрос</button>
</form>

{% if success %}
<h3>Уведомление успешно отправлено</h3>
{% endif %}

{% endblock %}
