{% extends 'admin_base.html' %}
{% block onload %}
{% endblock %}
{% block javascript %}
	<script type="text/javascript">
		var rowId = 0;
		function convertStringsToTableRows() {
			var element = document.getElementById("id_order_info");
			alert("Not implemented yet.");
		}
		
		function addRowIntoTable() {
			rowId += 1;
			var table = document.getElementById("order_details");
			var newRow = table.insertRow(table.getElementsByTagName("tr").length - 2);
			newRow.id = 'row_' + rowId;
			newRow.innerHTML = 	'<td id="row' + rowId + '_number">'+ rowId + '.</td>' + 
								'<td>&nbsp;</td>' +
								'<td><input id="row' + rowId + '_code" name="row' + rowId + '_code" type="text" style="width:50px"/></td>' +
								'<td><input id="row' + rowId + '_brand" name="row' + rowId + '_brand" type="text" style="width:40px"/></td>' +
								'<td><input id="row' + rowId + '_comment" name="row' + rowId + '_comment" type="text" style="width:70px"/></td>' +
								'<td><input id="row' + rowId + '_price_1" name="row' + rowId + '_price_1" type="text" style="width:40px" value="0.0" onchange="refreshTotal()"/></td>' +
								'<td><input id="row' + rowId + '_price_2" name="row' + rowId + '_price_2" type="text" style="width:40px" value="0.0" onchange="refreshTotal()"/></td>' +
								'<td>' +
									'{% if currencyList %}' +
										'<select id="row' + rowId + '_currency" name="row' + rowId + '_currency" onchange="fillDeliveryTime()">' + 
											'{% for currency in currencyList %}' +
												'<option value="{{ currency }}">{{ currency }}</option>' +
											'{% endfor %}' +
										'</select>' +
									'{% else %}' +
										'Нет ни одной валюты' +
 									'{% endif %}' +
								'</td>' +
								'<td><input id="row' + rowId + '_count" name="row' + rowId + '_count" type="text" style="width:40px" value="1" onchange="refreshTotal()"/></td>' +
								'<td>' +
									'{% if suppliersList %}' +
									'<select id="row' + rowId + '_supplier" name="row' + rowId + '_supplier" onchange="fillDeliveryTime(this, ' + rowId + ')">' +
										'<option value="">---------</option>' +
										'{% for supplier in suppliersList %}' +
											'<option value="{{ supplier }}">{{ supplier }}</option>' +
										'{% endfor %}' +
									'</select>' +
									'{% else %}' +
										'Нет ни одного поставщика' +
									'{% endif %}' +
								'</td>' +
								'<td><input id="row' + rowId + '_delivery_time" name="row' + rowId + '_delivery_time" type="text" style="width:40px"/></td>' +
								'<td>' +
								'{% if statusList %}' +
									'<select id="row' + rowId + '_status" name="row' + rowId + '_status">' +
										'{% for status in statusList %}' +
											'<option value="{{ status }}">{{ status }}</option>' +
										'{% endfor %}' +
									'</select>' +
									'{% else %}' +
										'Нет ни одного статуса' +
									'{% endif %}' +
								'</td>' +
								'<td>&nbsp;</td>';
								
			document.getElementById("row_count").value = rowId;
		}
		
		function refreshTotal() {
			var totalSumm1Element = document.getElementById("total_sum_1");
			var totalSumm2Element = document.getElementById("total_sum_2");
			
			var totalSumm1 = 0;
			var totalSumm2 = 0;
			
			for (var i = 1; i <= rowId; i++) {
				sum1 = parseFloat(document.getElementById("row" + i + "_price_1").value);
				sum2 = parseFloat(document.getElementById("row" + i + "_price_2").value)
				count = parseFloat(document.getElementById("row" + i + "_count").value);
				
				totalSumm1 += sum1 * count;
				totalSumm2 += sum2 * count;
				
			}
			
			totalSumm1Element.innerHTML = totalSumm1.toFixed(1);
			totalSumm2Element.innerHTML = totalSumm2.toFixed(1);
		}
		
		function ajax() {
			//TODO search for 'brand' after filling 3 symbols

		}
		
		function fillDeliveryTime(sel, row) {
			//TODO format: 1-2 дня, 2дня, 10-20 дней
			// is it really needs?
			var value = sel.options[sel.selectedIndex].value
			
			{% for supplier in suppliersList %}
				if ('{{ supplier }}' == value) {
					var delivery_time_element = document.getElementById("row" + row + "_delivery_time");
					delivery_time_element.value = "{{ supplier.delivery_time }}";
				}
			{% endfor %}
		}
		
		function validateForm() {
			var client_name = document.getElementById("id_client_name").value;
			var client_phone = document.getElementById("id_client_phone").value;
			if (client_name == null || client_name == "") {
				alert("Поле 'Ф.И.О. или название клиента' не должно быть пустым.");
				return false;
			}
			
			if (client_phone == null || client_phone == "") {
				alert("Поле 'Контактные телефоны' не должно быть пустым.");
				return false;
			}
			
			for (var row = 1; i < rowId; i++) {
				var price_1 = document.getElementById("row" + row +"_price_1").value;
				var price_2 = document.getElementById("row" + row +"_price_2").value;
				
				if (price_1 > price_2) {
					alert("Товар № " + row + ". Закупочная цена не может быть выше цены продажи.");
				}
			} 
			
		}
		
		function fillOrderItems() {
			'{% if order_items %}'
				'{% for item in order_items %}'
					addRowIntoTable();
					document.getElementById("row" + rowId + "_code").value = '{{ item.code }}';
					document.getElementById("row" + rowId + "_brand").value = '{{ item.brand }}';
					document.getElementById("row" + rowId + "_comment").value = '{{ item.comment }}';
					document.getElementById("row" + rowId + "_price_1").value = '{{ item.price_1 }}';
					document.getElementById("row" + rowId + "_price_2").value = '{{ item.price_2 }}';
					document.getElementById("row" + rowId + "_currency").value = '{{ item.currency }}';
					document.getElementById("row" + rowId + "_count").value = '{{ item.count }}';
					document.getElementById("row" + rowId + "_supplier").value = '{{ item.supplier }}';
					document.getElementById("row" + rowId + "_delivery_time").value = '{{ item.delivery_time }}';
					document.getElementById("row" + rowId + "_status").value = '{{ item.status }}';
				'{% endfor %}'
			'{% else %}'
				addRowIntoTable();
			'{% endif %}'
		}
	</script>
{% endblock %}
{% block content %}
<h3>{% block header%}{% endblock %}</h3>
</br>
{% if message %}
	<div class="info">
		{{ message }}
	</div>
{% endif %}
<form name="order_create_form" action="/admin_center/order_create" method="POST" onsubmit="return validateForm()">
		{% csrf_token %}
		{{ form.non_field_errors }}
		<div>
			<div class="block_title">Информация о заказчике</div>
			<table class="block_content">
				<tr class="required">
					<th>
				        <label for="id_client_name">{{ form.client_name.label }}</label>
					</th>
					<td>
				        {{ form.client_name.errors }}
				        {{ form.client_name }}
					</td>
			    </tr>
				
			    <tr class="required">
					<th>
				        <label for="id_client_name">{{ form.client_phone.label }}</label>
					</th>
					<td>
				        {{ form.client_phone.errors }}
				        {{ form.client_phone }}
					</td>
			    </tr>
			    <tr>
					<th>
				        <label for="id_client_code">{{ form.client_code.label }}</label>
					</th>
					<td>
				        {{ form.client_code.errors }}
				        {{ form.client_code }}
					</td>
			    </tr>
			    <tr>
					<th>
				        <label for="id_client_additional_information">{{ form.client_additional_information.label }}</label>
					</th>
					<td>
				        {{ form.client_additional_information.errors }}
				        {{ form.client_additional_information }}
					</td>
			    </tr>
		    </table>
		</div>
		<div>
			<div class="block_title">Информация о авто</div>
		    <table class="block_content">
			    <tr>
					<th>
				        <label for="id_car_brand">{{ form.car_brand.label }}</label>
					</th>
					<td>
				        {{ form.car_brand.errors }}
				        {{ form.car_brand }}
					</td>
			    </tr>
			    <tr>
					<th>
				        <label for="id_car_vin">{{ form.car_vin.label }}</label>
					</th>
					<td>
				        {{ form.car_vin.errors }}
				        {{ form.car_vin }}
					</td>
			    </tr>
			    <tr>
					<th>
				        <label for="id_car_model">{{ form.car_model.label }}</label>
					</th>
					<td>
				        {{ form.car_model.errors }}
				        {{ form.car_model }}
					</td>
			    </tr>
			    <tr>
					<th>
				        <label for="id_car_engine">{{ form.car_engine.label }}</label>
					</th>
					<td>
				        {{ form.car_engine.errors }}
				        {{ form.car_engine }}
					</td>
			    </tr>
			    <tr>
					<th>
				        <label for="id_car_year">{{ form.car_year.label }}</label>
					</th>
					<td>
				        {{ form.car_year.errors }}
				        {{ form.car_year }}
					</td>
			    </tr>
			    <tr>
					<th>
				        <label for="id_car_engine_size">{{ form.car_engine_size.label }}</label>
					</th>
					<td>
				        {{ form.car_engine_size.errors }}
				        {{ form.car_engine_size }}
					</td>
			    </tr>
			    <tr>
					<th>
				        <label for="id_car_body">{{ form.car_body.label }}</label>
					</th>
					<td>
				        {{ form.car_body.errors }}
				        {{ form.car_body }}
					</td>
			    </tr>
			    <tr>
					<th>
				        <label for="id_car_gearbox">{{ form.car_gearbox.label }}</label>
					</th>
					<td>
				        {{ form.car_gearbox.errors }}
				        {{ form.car_gearbox }}
					</td>
			    </tr>
				<tr>
					<th>
				        <label for="id_car_additional_information">{{ form.car_additional_information.label }}</label>
					</th>
					<td>
				        {{ form.car_additional_information.errors }}
				        {{ form.car_additional_information }}
					</td>
			    </tr>
		    </table>
		</div>
		<div>
			<div class="block_title">Информация о заказе и запчастям</div>
		    <table class="block_content">
				<tr>
					<th>
				        <label for="id_order_info">{{ form.order_info.label }}</label>
				        <div style="text-align: right" ><image src="{{STATIC_URL}}images/file_add.png" alt="Перенести записи в таблицу" style="width: 24px; height: 24px" onclick="convertStringsToTableRows()"></div>
					</th>
					<td>
				        {{ form.order_info.errors }}
				        {{ form.order_info }}
					</td>
			    </tr>
			    <tr>
			    	<td colspan="2">
			    			<div class="create-new-order-table-title">Список запчастей заказа</div>
							<table id="order_details" border="1" bordercolor="#9B9B9B" style="background-color:#FFFFFF;" width="100%" cellpadding="3" cellspacing="3">
								<thead>
									<tr id ="header" class="create-new-order-table-header">
										<td>№</td>
										<td>?</td>
										<td>Номер</td>
										<td>Бренд</td>
										<td>Комментарии</td>
										<td>Цена 1</td>
										<td>Цена 2</td>
										<td>Вал.</td>
										<td>Кол.</td>
										<td>Поставщик</td>
										<td>Срок поставки</td>
										<td>Статус</td>
										<td>?</td>
									</tr>
								</thead>
								<tbody><tr></tr></tbody>
								<tfoot>
									<tr class="create-new-order-table-footer">
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td style="font-weight: bold;">Всего:</td>
										<td id="total_sum_1">&nbsp;</td>
										<td id="total_sum_2">&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
								</tfoot>
							</table>
							<div style="text-align: center"><input type="button" value="Добавить ещё запчасть" onclick="addRowIntoTable()"></div>
			    	</td>
			    </tr>
				<tr>
					<th>
				        <label for="id_order_additional_information">{{ form.order_additional_information.label }}</label>
					</th>
					<td>
				        {{ form.order_additional_information.errors }}
				        {{ form.order_additional_information }}
					</td>
			    </tr>
				<tr class="required">
					<th>
				        <label for="id_order_status">{{ form.order_status.label }}</label>
					</th>
					<td>
				        {{ form.order_status.errors }}
				        {{ form.order_status }}
					</td>
			    </tr>
			</table>
		</div>
	<input type="hidden" id ="row_count" name="row_count" value="0">
	{% block buttons %}{% endblock %}
</form>
{% endblock %}