{% extends 'admin_base.html' %}
{% block javascript %}

<script type="text/javascript">
$(function() {
    $("#id_added_after").datepicker({dateFormat: 'dd.mm.yy'});
    $("#id_added_before").datepicker({dateFormat: 'dd.mm.yy'});
});
    
$(document).ready(function() {
	$("#id_item_code").autocomplete("/admin_center/autocomplete_code/");

    $('.edit').editable('/admin_center/item_edit', {
		indicator : 'Saving...',
		tooltip   : 'Click to edit...'
    });
    
    $('.edit_area').editable('/admin_center/item_edit', { 
         type      : 'textarea',
         cancel    : 'Cancel',
         submit    : 'OK',
         indicator : '<img src="img/indicator.gif">',
         tooltip   : 'Click to edit...'
    });
    
	$('.edit_currency').editable('/admin_center/item_edit', {
		loadurl : '/admin_center/feeds_currency', 
		type   : 'select',
	});
	
	$('.edit_status').editable('/admin_center/item_edit', {
		loadurl : '/admin_center/feeds_status', 
		type   : 'select',
	});
	
 });
 
function editAjax(item_id) {
	if (validateForm(item_id)) {
		$.ajax({
		    url: "item_ajax_edit/"+ item_id +"/",
		    type: "POST",
		    data: 	{'code': $('#order_item_' + item_id + '_code').val(), 
		    		'brand': $('#order_item_' + item_id + '_brand').val(),
		    		'comment': $('#order_item_' + item_id + '_comment').val(),
		    		'price_1': $('#order_item_' + item_id + '_price_1').val(),
		    		'price_2': $('#order_item_' + item_id + '_price_2').val(),
		    		'currency': $('#order_item_' + item_id + '_currency option:selected').val(),
		    		'count': $('#order_item_' + item_id + '_count').val(),
		    		'delivery_time': $('#order_item_' + item_id + '_delivery_time').val(),
		    		'status': $('#order_item_' + item_id + '_status option:selected').val(),
		    		},
		    success: function(){
		        alert('Сохранено');
		    }
		});
	} 
}

function deleteAjax(item_id) {
	if (confirm("Удалить запчасть?")) {
		$.ajax({
		    url: "item_delete/"+ item_id +"/",
		    type: "POST",
		    success: function() {
		    	$('#row_id_' + item_id).remove();
		    }
		});
	}
}

function validateForm(item_id) {
	var price_1 = document.getElementById("order_item_" + item_id +"_price_1").value;
	var price_2 = document.getElementById("order_item_" + item_id +"_price_2").value;
	var count = document.getElementById("order_item_" + item_id +"_count").value;
	
	if (price_1 > price_2) {
		alert("Товар № " + item_id + ". Закупочная цена не может быть выше цены продажи.");
		return false;
	}
	
	if (count < 1) {
		alert("Колличество не может быть меньше '1'.");
		return false;
	}
	
	return true;
}

</script>
{% endblock %}
{% block content %}
<h3>Управление Запчастями</h3>
<form name="items_management_form" action="/admin_center/items_management" method="POST">
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Применить фильтр">
</form>
{% if results %}
	<div>{{message}}</div>
	<table id="table" border="1" bordercolor="#9B9B9B" style="background-color:#FFFFFF;" width="100%" cellpadding="3" cellspacing="3">
		<thead>
			<tr class="table-header">
				<th>#</th>
				<th>Добавлено</th>
				<th>Номер</th>
				<th>Бренд</th>
				<th>Комментарии</th>
				<th>Цена 1</th>
				<th>Цена 2</th>
				<th>Валюта</th>
				<th>Кол.</th>
				<th>Поставщик</th>
				<th>Срок поставки</th>
				<th>Статус</th>
				<th>Действия</th>
			</tr>
		</thead>
		<tbody>
			{% for row in results %}
			<tr id="row_id_{{ row.id }}" class="highlightable">
				<td>{{ row.id }}</td>
				<td>{{ row.creation_date|date:"d.m.Y f" }}</td>
				<td><input id="order_item_{{ row.id }}_code" value="{{ row.code }}" style="width:50px"></td>
				<td><input id="order_item_{{ row.id }}_brand" value="{{ row.brand }}" style="width:40px"></td>
				<td><input id="order_item_{{ row.id }}_comment" value="{{ row.comment }}" style="width:70px"></td>
				<td><input id="order_item_{{ row.id }}_price_1" value="{{ row.price_1 }}" style="width:40px"></td>
				<td><input id="order_item_{{ row.id }}_price_2" value="{{ row.price_2 }}" style="width:40px"></td>
				<td>
					{% if currencyList %}
					<select id="order_item_{{ row.id }}_currency"> 
						{% for currency in currencyList %}
							{% ifequal currency.code row.currency %}
								<option value="{{ currency }}" selected="selected">{{ currency }}</option>
							{% else %}
								<option value="{{ currency }}">{{ currency }}</option>
							{% endifequal %}
						{% endfor %}
					</select>
					{% else %}
						<span>Нет ни одной валюты</span>
					{% endif %}
				</td>
				<td><input id="order_item_{{ row.id }}_count" value="{{ row.count }}" style="width:40px"></td>
				<td><span>{{ row.supplier }}</span></td>
				<td><input id="order_item_{{ row.id }}_delivery_time" value="{{ row.delivery_time }}" style="width:40px"></td>
				<td>
					{% if statusList %}
						<select id="order_item_{{ row.id }}_status">
							{% for status in statusList %}
								{% ifequal status.status row.status.status %}
									<option value="{{ status }}" selected="selected">{{ status }}</option>
								{% else %}
									<option value="{{ status }}">{{ status }}</option>
								{% endifequal %}
							{% endfor %}
						</select>
					{% else %}
						<span>Нет ни одного статуса</span>
					{% endif %}
				</td>
				<td>
					<div style="text-align: center">
						<input type="image" src="/static/images/pencil.gif" width="15" height="15" onclick="editAjax({{ row.id }}); return false;">
						<input class="highlightable_pointer" type="image" src="/static/images/delete.png" width="15" height="15" onclick="deleteAjax({{ row.id }}); return false;">
					</div>
					
				</td>
			</tr>
			<script>
				$("#order_item_{{ row.id }}_code").autocomplete("/admin_center/autocomplete_code/");
				$("#order_item_{{ row.id }}_brand").autocomplete("/admin_center/autocomplete_brand/");
			</script>
			{% endfor %}
		</tbody>
	</table>
	<script>
		$("#table").tablesorter();
	</script>
{% else %}
	{{message}}
{% endif %}

{% endblock %}