{% extends 'admin_base.html' %}
{% block javascript %}

<script type="text/javascript">
$(function() {
    $("#id_added_after").datepicker({dateFormat: 'dd.mm.yy'});
    $("#id_added_before").datepicker({dateFormat: 'dd.mm.yy'});
    $("#id_expired_date").datepicker({dateFormat: 'dd.mm.yy'});
    
    $("#id_expired_items").click(function () { 
    	$("#id_expired_date").val($.datepicker.formatDate('dd.mm.yy', new Date()));
	});
	
    $("#items_management").tablesorter();
    
    makeColoredUrgentItems();
});
    
$(document).ready(function() {
	$("#id_item_code").autocomplete({
		source: "/admin_center/autocomplete_code/"
	});
				
	$("#id_item_brand").autocomplete({
		source: "/admin_center/autocomplete_brand/"
	});
 });
 
function makeColoredUrgentItems() {
	{% for row in results %}
		var rowId = '{{ row.id }}';
		var row = $('#row_id_' + rowId);
		var itemDeliveryTime = $('#order_item_{{ row.id }}_delivery_time').val();
		if (itemDeliveryTime == 'Срочно') {
			row.css({'background-color': '#89AAFF'});
		}
	{% endfor %}
}
 
function autocompleteDateToNow(){
	$("#id_expired_date").val($.datepicker.formatDate('dd.mm.yy', new Date()));
}
function editAjax(item_id) {
	if (validateForm(item_id)) {
		$.ajax({
		    url: "item_ajax_edit/"+ item_id +"/",
		    type: "POST",
		    data: 	{'code': $('#order_item_' + item_id + '_code').val(), 
		    		'brand': $('#order_item_' + item_id + '_brand').val(),
		    		'comment': $('#order_item_' + item_id + '_comment').val(),
		    		'price_1': $('#order_item_' + item_id + '_price_1').val(),
		    		'price_2': $('#order_item_' + item_id + '_price_2').val(),
		    		'currency': $('#order_item_' + item_id + '_currency option:selected').val(),
		    		'count': $('#order_item_' + item_id + '_count').val(),
		    		'delivery_time': $('#order_item_' + item_id + '_delivery_time').val(),
		    		'status': $('#order_item_' + item_id + '_status option:selected').val(),
		    		},
		    success: function(){
		        
		    }
		});
	} 
}

function deleteAjax(item_id) {
	if (confirm("Удалить запчасть?")) {
		$.ajax({
		    url: "item_delete/"+ item_id +"/",
		    type: "POST",
		    success: function() {
		    	$('#row_id_' + item_id).remove();
		    }
		});
	}
}

function validateForm(item_id) {
	var price_1 = parseFloat(document.getElementById("order_item_" + item_id +"_price_1").value);
	var price_2 = parseFloat(document.getElementById("order_item_" + item_id +"_price_2").value);
	var count = document.getElementById("order_item_" + item_id +"_count").value;
	
	if (price_1 > price_2) {
		alert("Товар № " + item_id + ". Закупочная цена не может быть выше цены продажи.");
	}
	
	if (count < 1) {
		alert("Колличество не может быть меньше '1'.");
		return false;
	}
	
	return true;
}

</script>
{% endblock %}
{% block content %}
<h3>Управление Запчастями</h3>
<form name="items_management_form" action="/admin_center/items_management" method="POST">
	<div>
		
	</div>
	<table class="orders_management_filter_table">
		<tr>
			<th>
		        <label for="id_order_id">{{ form.order_id.label }}</label>
			</th>
			<td>
		        {{ form.order_id.errors }}
		        {{ form.order_id }}
			</td>
			<th>
		        <label for="id_item_status">{{ form.item_status.label }}</label>
			</th>
			<td>
		        {{ form.item_status.errors }}
		        {{ form.item_status }}
			</td>
			<th>
		        <label for="id_added_after">{{ form.added_after.label }}</label>
			</th>
			<td>
		        {{ form.added_after.errors }}
		        {{ form.added_after }}
			</td>
			<th>
		        <label for="id_added_before">{{ form.added_before.label }}</label>
			</th>
			<td>
		        {{ form.added_before.errors }}
		        {{ form.added_before }}
			</td>
		</tr>
	</table>
	<table class="orders_management_filter_table">
		<tr>
			<th>
		        <label for="id_supplier">{{ form.supplier.label }}</label>
			</th>
			<td>
		        {{ form.supplier.errors }}
		        {{ form.supplier }}
			</td>
			<th>
		        <label for="id_item_code">{{ form.item_code.label }}</label>
			</th>
			<td>
		        {{ form.item_code.errors }}
		        {{ form.item_code }}
			</td>
		</tr>
	</table>
	<table class="orders_management_filter_table">
		<tr>
			<td>
		        {{ form.expired_items.errors }}
		        {{ form.expired_items }}
			</td>
			<th>
		        <label for="id_expired_items">{{ form.expired_items.label }}</label>
			</th>
			<th>
		        <label for="id_expired_date">{{ form.expired_date.label }}</label>
			</th>
			<td>
		        {{ form.expired_date.errors }}
		        {{ form.expired_date }}
			</td>
		</tr>
	</table>
	<div style="text-align: center;">
		<input type="submit" value="Применить фильтр">
	</div>
</form>
{% if results %}
	<div>{{message}}</div>
	<table id="items_management" border="1" bordercolor="#9B9B9B" style="background-color:#FFFFFF;" width="100%" cellpadding="3" cellspacing="3">
		<thead>
			<tr class="table-header">
				<th class="sortable_header" style="width: 60px;">Заказ&nbsp;№</th>
				<th class="sortable_header" style="width: 75px;">Добавлено</th>
				<th>Номер</th>
				<th>Бренд</th>
				<th>Комментарии</th>
				<th style="width: 50px;">Закупка</th>
				<th style="width: 50px;">Продажа</th>
				<th style="width: 50px;">Валюта</th>
				<th style="width: 30px;">Кол.</th>
				<th class="sortable_header">Поставщик</th>
				<th style="width: 100px;">Срок поставки</th>
				<th style="width: 95px;">Статус</th>
				<th style="width: 65px;">Действия</th>
			</tr>
		</thead>
		<tbody>
			{% for row in results %}
			<tr id="row_id_{{ row.id }}" class="highlightable">
				<td><a href="order_edit/{{ row.order.id }}/">{{ row.order.id }}</a></td>
				<td>{{ row.creation_date|date:"d.m.y" }}</td>
				<td><input id="order_item_{{ row.id }}_code" value="{{ row.code }}" style="min-width:180px; width: 100%;"></td>
				<td><input id="order_item_{{ row.id }}_brand" value="{{ row.brand }}" style="min-width:120px; width: 100%;"></td>
				<td><input id="order_item_{{ row.id }}_comment" value="{{ row.comment }}" style="min-width:300px; width: 100%;"></td>
				<td><input id="order_item_{{ row.id }}_price_1" value="{{ row.price_1 }}" style="width:50px; text-align:right;"></td>
				<td><input id="order_item_{{ row.id }}_price_2" value="{{ row.price_2 }}" style="width:50px; text-align:right;"></td>
				<td>
					{% if currencyList %}
					<select id="order_item_{{ row.id }}_currency"> 
						{% for currency in currencyList %}
							{% ifequal currency.code row.currency %}
								<option value="{{ currency }}" selected="selected">{{ currency }}</option>
							{% else %}
								<option value="{{ currency }}">{{ currency }}</option>
							{% endifequal %}
						{% endfor %}
					</select>
					{% else %}
						<span>Нет ни одной валюты</span>
					{% endif %}
				</td>
				<td><input id="order_item_{{ row.id }}_count" value="{{ row.count }}" style="width:30px; text-align: right;"></td>
				<td><span>{{ row.supplier }}</span></td>
				<td><input id="order_item_{{ row.id }}_delivery_time" value="{{ row.delivery_time }}" style="width:100px"></td>
				<td>
					{% if statusList %}
						<select id="order_item_{{ row.id }}_status" onChange="makeElementColorable(this)" >
							{% for status in statusList %}
								{% ifequal status.status row.status.status %}
									<option value="{{ status }}" selected="selected">{{ status }}</option>
								{% else %}
									<option value="{{ status }}">{{ status }}</option>
								{% endifequal %}
							{% endfor %}
						</select>
					{% else %}
						<span>Нет ни одного статуса</span>
					{% endif %}
				</td>
				<td>
					<div style="text-align: center">
						<input type="image" src="/static/images/pencil.gif" width="15" height="15" onclick="editAjax({{ row.id }}); return false;">
						<input class="highlightable_pointer" type="image" src="/static/images/delete.png" width="15" height="15" onclick="deleteAjax({{ row.id }}); return false;">
					</div>
					
				</td>
			</tr>
			<script>
				$("#order_item_{{ row.id }}_code").autocomplete({
					source: "/admin_center/autocomplete_code/"
				});
				
				$("#order_item_{{ row.id }}_brand").autocomplete({
					source: "/admin_center/autocomplete_brand/"
				});
				
				makeOrderItemStatusesColorable($("#order_item_{{ row.id }}_status option"));
			</script>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	{{message}}
{% endif %}

{% endblock %}