{% extends 'admin_base.html' %}
{% block content %}
<h3>Управление заказами</h3>
<form name="orders_management_form" action="/admin_center/orders_management" method="POST">
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Применить фильтр">
</form>
{% if results %}
	<div>{{message}}</div>
	<div style="text-align: center">Краткое содержание заказов</div>
	<table border="1" bordercolor="#9B9B9B" style="background-color:#FFFFFF;" width="100%" cellpadding="3" cellspacing="3">
		<thead>
			<tr>
				<th>#</th>
				<th>Дата создания</th>
				<th>Заказчик</th>
				<th>Информация о заказе</th>
				<th>Статус заказа</th>
			</tr>
		</thead>
		<tbody>
			{% for row in results %}
			<tr class="highlightable_pointer" onclick="document.location = 'order_edit/{{ row.id }}';">
				<td>{{ row.id }}</td>
				<td>{{ row.creation_date|date:"d.m.Y f" }}</td>
				{% if row.user %}
					<td>{{ row.user.username }}</td>
				{% else %}
					<td>{{ row.client_name }}</td>
				{% endif %}
				<td>{{ row.order_info }}</td>
				<td>{{ row.order_status }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	{{message}}
{% endif %}

{% endblock %}