{% extends 'admin_base.html' %}

{% block javascript %}
<script type="text/javascript">

	$(function() {
		
		var $inputs = $('#shipment_create :input');
     	$('#id_arrival_date').datepicker({dateFormat: 'dd.mm.yy'});
		$('#id_arrival_returning_date').datepicker({dateFormat: 'dd.mm.yy'});
		
     	$('id_user_login').autocomplete({
     		source: "/admin_center/autocomplete_client_login/"
     		});
     	
		hideAllForms();
		
		type = $('#id_type');
		type.change(function() {
			hideAllForms();
			
			if ($(this).val() == '1') {
				$('#for_client').show();
			} else if ($(this).val() == '2') {
				$('#from_client').show();
			} else if ($(this).val() == '3') {
				$('#from_supplier').show();
			} else if ($(this).val() == '4') {
				$('#returning').show();
			}
		});
		type.change();
	});
	
	function hideAllForms() {
		$('#for_client').hide();
		$('#from_supplier').hide();
		$('#from_client').hide();
		$('#returning').hide();
	
	}
	
</script>
{% endblock %}
{% block content %}
<h3>Создание отправки</h3>
Инофрмация об отправке
{% if message %}
	<div class="info">
		{{ message }}
	</div>
{% endif %}
<div id="shipment_create" class="shipment_create">
<table>
	<tr>
		<th>
			<label for="type">{{ formForClient.type.label }}</label>
		</th>
		<td>
			{{ formForClient.type.errors }}
			{{ formForClient.type }}
		</td>
	</tr>
</table>
	
<form id="for_client" method="post">
    <table>
    	<tr>
			<th>
		        <label for="user_login">{{ formForClient.user_login.label }}</label>
			</th>
			<td>
		        {{ formForClient.user_login.errors }}
		        {{ formForClient.user_login }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="user_fio">{{ formForClient.user_fio.label }}</label>
			</th>
			<td>
		        {{ formForClient.user_fio.errors }}
		        {{ formForClient.user_fio }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="transporter_name">{{ formForClient.transporter_name.label }}</label>
			</th>
			<td>
		        {{ formForClient.transporter_name.errors }}
		        {{ formForClient.transporter_name }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="transporter_department_number">{{ formForClient.transporter_department_number.label }}</label>
			</th>
			<td>
		        {{ formForClient.transporter_department_number.errors }}
		        {{ formForClient.transporter_department_number }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="transporter_count_of_places">{{ formForClient.transporter_count_of_places.label }}</label>
			</th>
			<td>
		        {{ formForClient.transporter_count_of_places.errors }}
		        {{ formForClient.transporter_count_of_places }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="declaration_number">{{ formForClient.declaration_number.label }}</label>
			</th>
			<td>
		        {{ formForClient.declaration_number.errors }}
		        {{ formForClient.declaration_number }}
			</td>
    	</tr>
    </table>
    
    <div style="text-align: center;"><input type="submit" value="Создать отправку" name="for_client"/></div>
</form>

<form id="from_supplier" method="post">    
    <table>
    	<tr>
			<th>
		        <label for="supplier">{{ formFromSupplier.supplier.label }}</label>
			</th>
			<td>
		        {{ formFromSupplier.supplier.errors }}
		        {{ formFromSupplier.supplier }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="transporter_name">{{ formFromSupplier.transporter_name.label }}</label>
			</th>
			<td>
		        {{ formFromSupplier.transporter_name.errors }}
		        {{ formFromSupplier.transporter_name }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="declaration_number">{{ formFromSupplier.declaration_number.label }}</label>
			</th>
			<td>
		        {{ formFromSupplier.declaration_number.errors }}
		        {{ formFromSupplier.declaration_number }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="arrival_date">{{ formFromSupplier.arrival_date.label }}</label>
			</th>
			<td>
		        {{ formFromSupplier.arrival_date.errors }}
		        {{ formFromSupplier.arrival_date }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="transporter_count_of_places">{{ formFromSupplier.transporter_count_of_places.label }}</label>
			</th>
			<td>
		        {{ formFromSupplier.transporter_count_of_places.errors }}
		        {{ formFromSupplier.transporter_count_of_places }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="recived">{{ formFromSupplier.recived.label }}</label>
			</th>
			<td>
		        {{ formFromSupplier.recived.errors }}
		        {{ formFromSupplier.recived }}
			</td>
    	</tr>
    </table>
    
    <div style="text-align: center;"><input type="submit" value="Создать отправку" name="from_supplier"/></div>
</form>

<form id="from_client" method="post">
    <table >
    	<tr>
			<th>
		        <label for="user_login">{{ formFromClient.user_login.label }}</label>
			</th>
			<td>
		        {{ formFromClient.user_login.errors }}
		        {{ formFromClient.user_login }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="supplier">{{ formFromClient.supplier.label }}</label>
			</th>
			<td>
		        {{ formFromClient.supplier.errors }}
		        {{ formFromClient.supplier }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="declaration_number">{{ formFromClient.declaration_number.label }}</label>
			</th>
			<td>
		        {{ formFromClient.declaration_number.errors }}
		        {{ formFromClient.declaration_number }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="comment">{{ formFromClient.comment.label }}</label>
			</th>
			<td>
		        {{ formFromClient.comment.errors }}
		        {{ formFromClient.comment }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="recived">{{ formFromClient.recived.label }}</label>
			</th>
			<td>
		        {{ formFromClient.recived.errors }}
		        {{ formFromClient.recived }}
			</td>
    	</tr>
    </table>
    
    <div style="text-align: center;"><input type="submit" value="Создать отправку" name="from_client"/></div>
</form>

<form id="returning" method="post">
    <table>
    	<tr>
			<th>
		        <label for="user_fio">{{ formReturning.user_fio.label }}</label>
			</th>
			<td>
		        {{ formReturning.user_fio.errors }}
		        {{ formReturning.user_fio }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="transporter_name">{{ formReturning.transporter_name.label }}</label>
			</th>
			<td>
		        {{ formReturning.transporter_name.errors }}
		        {{ formReturning.transporter_name }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="declaration_number">{{ formReturning.declaration_number.label }}</label>
			</th>
			<td>
		        {{ formReturning.declaration_number.errors }}
		        {{ formReturning.declaration_number }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="arrival_returning_date">{{ formReturning.arrival_returning_date.label }}</label>
			</th>
			<td>
		        {{ formReturning.arrival_returning_date.errors }}
		        {{ formReturning.arrival_returning_date }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="price">{{ formReturning.price.label }}</label>
			</th>
			<td>
		        {{ formReturning.price.errors }}
		        {{ formReturning.price }}
			</td>
    	</tr>
    	<tr>
			<th>
		        <label for="user_notified">{{ formReturning.user_notified.label }}</label>
			</th>
			<td>
		        {{ formReturning.user_notified.errors }}
		        {{ formReturning.user_notified }}
			</td>
    	</tr>
    </table>
    
    <div style="text-align: center;"><input type="submit" value="Создать отправку" name="returning"/></div>
</form>
</div>
{% endblock %}