{% extends 'admin_base.html' %}

{% block javascript %}
   	<script src="/static/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/ext/dhtmlxscheduler_active_links.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/ext/dhtmlxscheduler_units.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/ext/dhtmlxscheduler_multiselect.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/locale/locale_ru.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
  function initCalendar(val){

    var step = 15;
        var format = scheduler.date.date_to_str("%H:%i");
        
        scheduler.config.hour_size_px=(60/step)*21;
        scheduler.templates.hour_scale = function(date){
            html="";
            for (var i=0; i<45/step; i++){
                if (i==1)
                {
                    html+="<div style='height:21px;line-height:21px;'>"+""+"</div>";
                    date = scheduler.date.add(date,step,"minute");
                }else{
                    html+="<div style='height:21px;line-height:21px;'>"+format(date)+"</div>";
                    date = scheduler.date.add(date,step,"minute");
                }
            }
            return html;
        }

     scheduler.locale.labels.section_custom="Section";
            scheduler.locale.labels.section_client_name = "Ф.И.О клиента";
            scheduler.locale.labels.section_client_number = "Гос. номер клиента";
            scheduler.locale.labels.section_car_description = "Данные машины";
            scheduler.locale.labels.section_work_description = "Проводимые работы";
            scheduler.locale.labels.section_worker = "Механик";
            scheduler.locale.labels.section_price = "Стоимость";
            scheduler.config.lightbox.sections=[
                {name:"client_name", height:30, type:"textarea" , map_to:"client_name", focus:true},
                {name:"client_number", height:30, type:"textarea", map_to:"client_number" },
                {name:"car_description", height:30, type:"textarea", map_to:"car_description" },
                {name:"work_description", height:30, type:"textarea", map_to:"work_description" },
                {name:"worker", height:30, map_to:"worker", type: "select",
                    options: scheduler.serverList("worker")},
                {name:"price", height:30, type:"textarea", map_to:"price" },
                {name:"time", height:212, type:"time", map_to:"auto"}
            ]
            scheduler.config.xml_date="%Y-%m-%d %H:%i";
            // scheduler.config.wide_form = true;
            scheduler.config.details_on_create=true;
            scheduler.config.first_hour = 9;
            scheduler.config.last_hour = 21;
            scheduler.config.event_duration = 30;
            scheduler.config.limit_time_select=true;
            scheduler.config.separate_short_events=true;
            scheduler.config.time_step=30;
            scheduler.config.hour_size_px = 84;
            scheduler.init('scheduler_here',new Date(),"day");

     //define how text inside event bar looks
     scheduler.templates.event_text=function(start,end,event){
        return "Описание работы:<b> "+event.work_description+"</b>";
     }
     scheduler.templates.event_class=function(start,end,event){
     if (start < (new Date())) //if date in past
        return "past_event"; //then set special css class for it
     }
     scheduler.load("/admin_center/service/eventsXML"+val);
     var dp = new dataProcessor("/admin_center/service/dataprocessor"+val);
     dp.setTransactionMode("POST",false)
     dp.init(scheduler);
  }
 </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/dhtmlxscheduler.css" type="text/css" media="screen" title="no title" charset="utf-8">

    <style type="text/css" media="screen">
    	html, body{
    		margin:0px;
    		padding:0px;
    		height:100%;
    	}

    .dhx_cal_data table td{
        padding: 0px;
        border-bottom: 0px solid #EEEEEE;
        font-size: 15px;
    }
    .dhx_scale_hour{ 
        line-height:normal;
    }

        select {
            width: 78px;
        }
        /*event in day or week view*/
    	/*.dhx_cal_event.past_event div{*/
    		/*background-color:purple !important;*/
    		/*color:white !important;*/
    	/*}*/
        /*multi-day event in month view*/
    	/*.dhx_cal_event_line.past_event{*/
    		/*background-color:purple !important;*/
    		/*color:white !important;*/
    	/*}*/
        /*event with fixed time, in month view*/
    	/*.dhx_cal_event_clear.past_event{*/
    		/*color:purple !important;*/
    	/*}*/
    </style>

{% endblock %}
{% block content %}
    <div class="bs-docs-example">
        <ul id="myTab" class="nav nav-tabs">
          <li><a href="/admin_center/service/calendar1/">Подъемник 1</a></li>
          <li><a href="/admin_center/service/calendar2/">Подъемник 2</a></li>
        </ul>
        {% block calendar_content %}
        {% endblock %}
    </div>
{% endblock %}
